/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/_main.scss */
body {
  background-color: #F5F9FA;
  font-family: 'Open Sans', sans-serif;
  color: #717578;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* line 12, ../sass/_main.scss */
body nav {
  width: 100%;
  min-width: 80%;
  height: 55px;
  background-color: #F5F9FA;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  transition: 0.5s;
}
/* line 33, ../sass/_main.scss */
body nav.shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
/* line 37, ../sass/_main.scss */
body nav div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}
/* line 45, ../sass/_main.scss */
body nav div img {
  height: 25px;
  padding: 0 10px 0 20px;
}
/* line 49, ../sass/_main.scss */
body nav div a {
  padding: 5px;
  font-size: 14px;
  font-weight: lighter;
  text-decoration: none;
  color: #717578;
  transition: ease .5s;
}
/* line 57, ../sass/_main.scss */
body nav div a:hover {
  color: #74C5EB;
}
/* line 60, ../sass/_main.scss */
body nav div a.selected {
  color: #1070B7;
  font-weight: normal;
}
/* line 64, ../sass/_main.scss */
body nav button {
  background-color: #1070B7;
  padding: 6px 12px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  border-radius: 8px;
  border: none;
  margin: 10px 30px 10px 0;
  transition: ease .5s;
  cursor: pointer;
}
/* line 77, ../sass/_main.scss */
body nav button:hover {
  background-color: #74C5EB;
}
/* line 81, ../sass/_main.scss */
body nav button.hidden {
  visibility: hidden;
}
/* line 87, ../sass/_main.scss */
body main {
  width: 85%;
  margin: 55px auto 55px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
/* line 94, ../sass/_main.scss */
body main.wide {
  width: auto;
  margin: 80px 40px 55px;
}
/* line 99, ../sass/_main.scss */
body main > h1 {
  color: #a5a8aa;
  font-size: 24px;
  font-weight: 300;
  display: inline-block;
  margin: 80px auto 0;
}
/* line 106, ../sass/_main.scss */
body main > h1 span.strong {
  font-weight: 400;
}
/* line 110, ../sass/_main.scss */
body main > h1 img {
  height: 150px;
}
/* line 115, ../sass/_main.scss */
body main form {
  margin: 40px auto 0;
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: 1px solid #D9D9D9;
}
/* line 129, ../sass/_main.scss */
body main form:focus-within {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
/* line 135, ../sass/_main.scss */
body main form input {
  background-color: transparent;
  border: none;
  margin-left: 30px;
  width: 95%;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #717578;
}
/* line 145, ../sass/_main.scss */
body main form input:focus {
  outline: none;
}
/* line 150, ../sass/_main.scss */
body main form select {
  background: white;
  border: none;
  border-radius: 30px;
  margin-left: 20px;
  color: #717578;
}
/* line 158, ../sass/_main.scss */
body main form div {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
/* line 164, ../sass/_main.scss */
body main form button {
  background-color: transparent;
  border: none;
  margin-right: 10px;
  font-size: 14px;
  color: #717578;
  transition: ease .5s;
  cursor: pointer;
}
/* line 175, ../sass/_main.scss */
body main form button:hover {
  color: #74C5EB;
}
/* line 202, ../sass/_main.scss */
body main a#filtering-terms {
  padding: 1em;
  font-size: 12px;
  font-weight: lighter;
  text-decoration: none;
  color: #717578;
  transition: ease .5s;
  width: 100px;
}
/* line 210, ../sass/_main.scss */
body main a#filtering-terms i {
  font-size: 10px;
}
/* line 211, ../sass/_main.scss */
body main a#filtering-terms:hover {
  color: #74C5EB;
}
/* line 215, ../sass/_main.scss */
body main span.error {
  display: block;
  color: #DC4F5F;
  padding-bottom: 1em;
  font-weight: lighter;
}
/* line 220, ../sass/_main.scss */
body main span.error strong {
  font-weight: 400;
  color: #BE1522;
}
/* line 224, ../sass/_main.scss */
body main span.error.error-login {
  display: none;
  padding-left: 10px;
}
/* line 227, ../sass/_main.scss */
body main span.error.error-login.active {
  display: block;
}
/* line 233, ../sass/_main.scss */
body main div.results-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
}
/* line 239, ../sass/_main.scss */
body main div.results-form img {
  height: 75px;
}
/* line 242, ../sass/_main.scss */
body main div.results-form form {
  margin: 0;
  width: 60%;
}
/* line 249, ../sass/_main.scss */
body main div.results {
  margin: 20px 0 0;
  font-weight: 300;
}
/* line 253, ../sass/_main.scss */
body main div.results p#filtering-terms {
  padding-bottom: 1em;
}
/* line 255, ../sass/_main.scss */
body main div.results p#filtering-terms span {
  font-family: monospace;
}
/* line 260, ../sass/_main.scss */
body main div.results div#tabs {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  border-bottom: 1px solid #74C5EB;
  font-size: 14px;
}
/* line 267, ../sass/_main.scss */
body main div.results div#tabs p {
  padding: 10px;
  cursor: pointer;
}
/* line 270, ../sass/_main.scss */
body main div.results div#tabs p.active, body main div.results div#tabs p:hover {
  border-bottom: 1px solid #1070B7;
  font-weight: normal;
}
/* line 278, ../sass/_main.scss */
body main div.results section {
  padding: 1em 0;
  display: none;
}
/* line 282, ../sass/_main.scss */
body main div.results section h2 {
  font-weight: normal;
}
/* line 285, ../sass/_main.scss */
body main div.results section p {
  padding-left: 10px;
}
/* line 289, ../sass/_main.scss */
body main div.results section.active {
  display: block;
}
/* line 300, ../sass/_main.scss */
body main div.results section#counts p.blurry {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
/* line 310, ../sass/_main.scss */
body main div.results div.table-wrapper {
  margin: 1em 0;
  font-size: 12px;
  overflow-x: auto;
}
/* line 315, ../sass/_main.scss */
body main div.results div.table-wrapper table {
  font-size: 14px;
}
/* line 321, ../sass/_main.scss */
body main div.results div.table-wrapper table tbody tr td.raw {
  font-family: monospace;
  font-size: 12px;
}
/* line 333, ../sass/_main.scss */
body main div.results section#full div.table-wrapper.blurry {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
/* line 345, ../sass/_main.scss */
body footer {
  width: 100%;
  min-height: 55px;
  margin-top: auto;
  color: #717578;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
/* line 358, ../sass/_main.scss */
body footer p {
  margin-right: 10px;
  line-height: 15px;
  font-weight: 300;
  font-size: 11px;
  transition: ease all 0.5s;
}
@media screen and (max-width: 580px) {
  /* line 358, ../sass/_main.scss */
  body footer p {
    font-size: 9px;
    line-height: 10px;
  }
}
/* line 372, ../sass/_main.scss */
body footer section#EGA {
  margin-left: 30px;
  font-size: 12px;
}
/* line 375, ../sass/_main.scss */
body footer section#EGA a {
  color: #74C5EB;
}
/* line 377, ../sass/_main.scss */
body footer section#EGA a:hover {
  color: #1070B7;
}
/* line 380, ../sass/_main.scss */
body footer section#EU {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: right;
}
/* line 387, ../sass/_main.scss */
body footer section#EU p {
  max-width: 400px;
  text-align: right;
  margin-right: 30px;
}
/* line 393, ../sass/_main.scss */
body footer section#EU img {
  height: 30px;
  margin-right: 30px;
}
