{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Biodata.pt Beacon - API Help</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width, shrink-to-fit=no"/>

        <script src="https://kit.fontawesome.com/b023714a8f.js" crossorigin="anonymous"></script>

        <link rel="stylesheet"
	      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" />

        <link rel="stylesheet" href="{% static 'beacon/css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'beacon/css/datatables.css' %}" />

    </head>
<body>


    {% with selected='filtering_terms' hidden='true' filtering_terms='true'%}{% include "beacon/nav.html" %}{% endwith %}
    

    <main>
        <h1>
            <img src="{% static 'beacon/img/training_ui.png' %}" alt="">
        </h1>
        <div class="results">
            <p>This website works as a user interface (UI) to interact with the Beacon v2 API running on this node. (<a target="_blank" href="/api/">Access the API here!</a>).</p>
            
            <p>However, the UI features are quite limited in comparison with all the possibilities offered by the API. This page teaches users the basics of querying the API and offers a few examples of queries that might be useful for a begginer.</p>

            <p>For more detailed information about the API, please refer to the <a target="_blank" href="http://docs.genomebeacons.org/">Beacon v2 documentation</a>.</p>

            <h2 class="api_help">API endpoints</h2>
            
            <p>The main API endpoints are the following:</p>

            <div class="table-wrapper basic">
                <table class="basic-table display">
                    <thead>
                        <tr>
                            <th>Endpoint</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td><span class="mono">/api</span></td>
                                <td>root of the API</td>                                
                            </tr>
                            <tr>
                                <td><span class="mono">/api/info</span></td>
                                <td>get general Beacon information (typically metadata about the Beacon itself and who maintains it)</td>
                            </tr>
                            <tr>
                                <td><span class="mono">/api/datasets</span></td>
                                <td>get information about the existing datasets, which contain an unique identifier for each dataset and tipically carry information about the data present as a whole</td>
                            </tr>
                            <tr>
                                <td><span class="mono">/api/cohorts</span></td>
                                <td>get information about the existing cohorts, which contain statistics about the individuals present in the respective dataset </td>
                            </tr>
                            <tr>
                                <td><span class="mono">/api/individuals</span></td>
                                <td>query individuals, which represent people</td>
                            </tr>
                            <tr>
                                <td><span class="mono">/api/biosamples</span></td>
                                <td>query biosamples, which represent biological samples taken from an individual</td>
                            </tr>
                            <tr>
                                <td><span class="mono">/api/runs</span></td>
                                <td>query runs, which contain information about the DNA sequencing process of a biosample</td>
                            </tr>
                            <tr>
                                <td><span class="mono">/api/analyses</span></td>
                                <td>query analyses, which contain information about the variant calling, anotation and other processes on a run</td>
                            </tr>
                            
                    </tbody>
                </table> 
            </div>
            
            Each of these endpoints that represent a Beacon v2 Model have extra endpoints to relate them with other models:

            <div class="table-wrapper basic">
                <table class="basic-table display">
                    <thead>
                        <tr>
                            <th>Endpoint</th>
                            <th>Description</th>
                            <th>Example</th>
                            <th>Result of example</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="mono">/api/{endpoint}/{id}</span></td>
                            <td>Get a specific entry from that endpoint with that id</td>
                            <td><span class="mono">/api/individuals/CR562</span></td>
                            <td>Record about individual CR562</td>
                        </tr>
                        <tr>
                            <td><span class="mono">/api/{endpoint}/{id}/{other_endpoint}</span></td>
                            <td>Get the entries from {other_endpoint} that is related to the entry from {endpoint} with the specified id</td>
                            <td><span class="mono">/api/individuals/CR562/biosamples</span></td>
                            <td>All the biosamples taken from individual CR562</td>
                        </tr>
                        <tr>
                            <td><span class="mono"></span></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table> 
            </div>
            <h2 class="api_help">Querying the API</h2>
            

            <p>This information is structured as specified in the Beacon schemas: 
                <a target="_blank" href="http://docs.genomebeacons.org/schemas-md/individuals_defaultSchema/">Individuals</a> and 
                <a target="_blank" href="http://docs.genomebeacons.org/schemas-md/biosamples_defaultSchema/">Biosamples</a>.</p>
            <!-- <p>For the purpose of simplicity, in this training Beacon the more complex and nested fields won't be available for use in the query.</p> -->
            <p>For the purpose of simplicity, the "simple" fileds (i.e. the ones only nested with the terms "id" and "label") can be used without specifying these terms. For example, <span class="mono">ethnicity=NCIT:C16352</span> instead of <span class="mono">ethnicity.id=NCIT:C16352</span> or <span class="mono">ethnicity=England</span> instead of <span class="mono">ethnicity.label=England</span></p>
            <p>Some of the available fields and how to use them are specified in the tables below.</p>
            <p>In multiple filters queries, the key-value pairs need to be comma-separated. Also, remember the possibility of using <a target="_blank" href="{% url 'beacon:filtering_terms' %}">Filtering Terms</a>.</p>
            <h2 class="api_help">Individuals</h2>
            
            <h2 class="api_help">Biosamples</h2>
            bla bla 
        </div>

    </main>
   
    <h1>
        
        <img src="{% static 'beacon/img/biodata_elixir_logo.png' %}" alt="biodata.pt & elixir-PT logo" class="biodata-elixir-logo">
    </h1> 
    
    {% include "beacon/footer.html" %}

    </body>
</html>