{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Beacon Training UI - Filtering Terms</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width, shrink-to-fit=no"/>

        <script src="https://kit.fontawesome.com/b023714a8f.js" crossorigin="anonymous"></script>

        <link rel="stylesheet"
	      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" />

        <link rel="stylesheet" href="{% static 'beacon/css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'beacon/css/datatables.css' %}" />

    </head>
<body>


    {% with selected='filtering_terms' hidden='true' filtering_terms='true'%}{% include "beacon/nav.html" %}{% endwith %}
    

    <main>
        <h1>
            <img src="{% static 'beacon/img/training_ui.png' %}" alt="">
        </h1>
        <div class="results">
            {% if error_message %}<span class="error"><strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> {{ error_message }}</span>{% endif %}

            <p id="filtering-terms">The filtering terms are a collection of values that the beacon is able to understand without specifying the key. 
                Thus, they can be used in the query box by themselves, i.e. <span class="mono">blood</span> instead of <span class="mono">sampleOriginType=blood</span> or <span class="mono">GAZ:00002641</span> instead of <span class="mono">geographicOrigin=GAZ:00002641</span>.
            </p>
            <p>The table below shows the available filtering terms. You can select the ones you find interesting and copy them, so you can add them to the query box of the Phenoclinc page.</p>
            {% if results %}
            <div id="clipboard-terms">
                <i class="fa fa-clone" aria-hidden="true"></i>
                <input id="input" type="text" placeholder="Start selecting the checkboxes..."/>
            </div>

            <div class="table-wrapper basic">
                <table class="searchable-table display">
                    <thead>
                        <tr class="search-tr">
                            <th></th>
                            <th class="search-box">filtering term</th>
                            <th class="search-box">label</th>
                            <th class="search-box">target entity</th>
                            <th class="search-box">target schema term</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th class="checkbox"><i class="fa fa-minus-square-o" aria-hidden="true"></i></th>
                            <th>filtering term</th>
                            <th>label</th>
                            <th>target entity</th>
                            <th>target schema term</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in results.items %}
                            <tr>
                                <td class="checkbox"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                                <td class="raw">{{key}}</td>
                                <td class="raw">{{value.2|default_if_none:'-'}}</td>
                                <td class="raw">{{value.0}}</td>
                                <td class="raw">{{value.1}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table> 
            </div>
           
            {% else %}
                <p>No filtering terms found.</p>
            {% endif %} 
        </div>

    </main>
   
    {% include "beacon/footer.html" %}

    </body>
</html>