{% load static %}
<nav>
    <div>
        <img src="{% static 'beacon/img/beacon_logo.png' %}" alt="">
        <a href="{% url 'beacon:variant' %}" {% if selected == 'variant' %} class="selected"{% endif %}>Variant</a>
        <a href="{% url 'beacon:region' %}" {% if selected == 'region' %} class="selected"{% endif %}>Region</a>
        <a href="{% url 'beacon:phenoclinic' %}" {% if selected == 'phenoclinic' %} class="selected"{% endif %}>Phenoclinic</a>
        <a href="{% url 'beacon:cohorts' %}" {% if selected == 'cohorts' %} class="selected"{% endif %}>Cohorts</a>    
        {% comment %}
        {% if filtering_terms == 'true' %}
        <a href="{% url 'beacon:filtering_terms' %}" {% if selected == 'filtering_terms' %} class="selected"{% endif %}>Filtering Terms</a>
        <a href="{% url 'beacon:index' %}" {% if selected == 'home' %} class="selected"{% endif %}>Home</a>
        {% endif %}
        {% endcomment %}

    </div>

    <button type="submit">
        <a href="/login?state=aHR0cHM6Ly9iZWFjb24uZ2RpLmJpb2RhdGEucHQv">
            <!--  <img src="/static/beacon/img/login-small.png" alt="[LS Login]" width="200" > -->
            <img src="/static/beacon/img/login-grey-wide.png" alt="[LS Login]" width="150" >
       </a>
      </button>

    <!-- <button id="login" {% if hidden == 'true' %} class="hidden"{% endif %}>{% if cookies.loggedIn == 'true' %}LOG OUT{% else %}LOG IN{% endif %}</button> -->
    <!-- <button id="login">{% if cookies.loggedIn == 'true' %}LOG OUT{% else %}LOG IN{% endif %}</button> -->
</nav>
