{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Biodata.pt Beacon - Phenoclinic</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width, shrink-to-fit=no"/>

        <script src="https://kit.fontawesome.com/b023714a8f.js" crossorigin="anonymous"></script>

        <link rel="stylesheet"
	      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" />

        <link rel="stylesheet" href="{% static 'beacon/css/style.css' %}" />
    </head>
<body>


    {% with selected='phenoclinic' hidden='true' filtering_terms='true'%}{% include "beacon/nav.html" %}{% endwith %}

    

    <main>
        <h1>
            <img src="{% static 'beacon/img/training_ui.png' %}" alt="">
        </h1>
        <form action="{% url 'beacon:phenoclinic_response' %}" method="post">
            {% csrf_token %}
            <div>
                <select name="target">
                    <option value="individuals">Individuals</option>
                    <option value="biosamples">Biosamples</option>
                </select>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <input type="text" 
                name="query"  
                placeholder="key=value, key><=value, or filtering term comma-separated" 
                title="Search key=value, key><=value if integer, or filtering term. Use comma to separate the filters." 
                value="" 
                >
            </div>

            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div id="help-wrapper">
            <span>
                <p><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Query Examples</p>
                <div>
                    <!--        
                    <p class="example phenoclinic">individuals and ethnicity=NCIT:C16352, <br> geographicOrigin=England, Weight>50, Height-standing>150</p>
                    <p class="example phenoclinic">individuals and Chinese, male, Height-standing>180</p>
                    <p class="example phenoclinic">individuals and ethnicity=NCIT:C16352, female</p>
                    <p class="example phenoclinic">individuals and ethnicity=NCIT:C16352, <br> England, diseases.diseaseCode.label=asthma</p>
                    <p class="example phenoclinic">biosamples and blood</p>
                    -->
                    <p class="example phenoclinic">individuals and id = CR310</p>
                    <p class="example phenoclinic">individuals and sex.label = female</p>
                    <p class="example phenoclinic">individuals and id = CR310, sex.label = female</p>
                    <p class="example phenoclinic">individuals and diseases.diseaseCode.id = ICD10:D50</p>
                    <p class="example phenoclinic">individuals and diseases.diseaseCode.id = DOID:9256</p>
                    <p class="example phenoclinic">individuals and diseases.diseaseCode.id = ICD10CM:C18.9</p>
                    <p class="example phenoclinic">biosamples and biosampleStatus.label = abnormal sample</p>
                    <p class="example phenoclinic">biosamples and individualId = CR560</p>
                </div>
            </span>
            <a target="_blank" href="{% url 'beacon:query_help' %}"><i class="fa fa-question" aria-hidden="true"></i> Query Help</a>        
            <a target="_blank" href="{% url 'beacon:filtering_terms' %}"><i class="fa fa-filter" aria-hidden="true"></i> Filtering Terms</a>        
        </div>

        {% if error_message %}<p class="error"><strong><i class="fa-solid fa-triangle-exclamation"></i></strong> {{ error_message }}</p>{% endif %}
    </main>
   
    <h1>
        
        <img src="{% static 'beacon/img/biodata_elixir_logo.svg' %}" alt="biodata.pt & elixir-PT logo" class="biodata-elixir-logo">
        
    </h1>

    {% include "beacon/footer.html" %}

    </body>
</html>
