{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Beacon Training UI</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width, shrink-to-fit=no"/>

        <script src="https://kit.fontawesome.com/b023714a8f.js" crossorigin="anonymous"></script>

        <link rel="stylesheet"
	      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" />

        <!-- <link rel="stylesheet" href="../static/css/style.css" /> -->
        <link rel="stylesheet" href="{% static 'beacon/css/style.css' %}" />
    </head>
<body>


    {% with selected='variant' hidden='true' %}{% include "beacon/nav.html" %}{% endwith %}
    

    <main>
        <h1>
            <img src="{% static 'beacon/img/training_ui.png' %}" alt="">
        </h1>
        <form action="{% url 'beacon:variant_response' %}" method="post">
            {% csrf_token %}
            <input type="text" 
                    name="query" 
                    pattern="^\s*(X|Y|MT|[1-9]|1[0-9]|2[0-2])\s*:\s*(\d+)\s+([ATCGN]+)\s*>\s*([ATCGN]+)$" 
                    placeholder="chr : pos ref > alt" 
                    title="chromosome : position reference > alternate" 
                    value="">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        {% if error_message %}<p class="error"><strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> {{ error_message }}</p>{% endif %}
    </main>
   
    {% include "beacon/footer.html" %}

    <!-- JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
    <!-- End Jquery -->

    <!-- Datatables -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
    <!-- End Datatables -->

    <!-- Custom -->
    <script type="text/javascript" charset="utf8" src="{% static 'beacon/js/main.js' %}"></script>
    <!-- End Custom -->

    </body>
</html>