{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Beacon Training UI - Variant</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width, shrink-to-fit=no"/>

        <script src="https://kit.fontawesome.com/b023714a8f.js" crossorigin="anonymous"></script>

        <link rel="stylesheet"
	      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" />

        <link rel="stylesheet" href="{% static 'beacon/css/style.css' %}" />
    </head>
<body>


    {% with selected='variant' hidden='true' %}{% include "beacon/nav.html" %}{% endwith %}
    

    <main>
        <h1>
            <img src="{% static 'beacon/img/training_ui.png' %}" alt="beacon-training-ui-img">
        </h1>
        <form action="{% url 'beacon:variant_response' %}" method="post">
            {% csrf_token %}
            <input type="text" 
                    name="query" 
                    pattern="^\s*(X|Y|MT|[1-9]|1[0-9]|2[0-2])\s*:\s*(\d+)\s+([ATCGN]+)\s*>\s*([ATCGN]+)$" 
                    placeholder="chr : pos ref > alt" 
                    title="chromosome : position reference > alternate" 
                    value="">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div id="help-wrapper">
            <span>
                <p><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Query Examples</p>
                <div>
                    <!--
                    <p class="example">22 : 16050677 C > T</p>
                    <p class="example">22 : 16050074 A > G</p>
                    <p class="example">22 : 16050606 G > A</p>
                    <p class="example">22 : 16050839 C > G</p>
                    -->
                    <p class="example">1 : 69848 G > A</p>
                    <p class="example">1 : 939397 G > GCCTCCCCAGCCACGGTGAGGACCCACCCTGGCATGATCCCCCTCATCA</p>
                    
                </div>
            </span>
        </div>
        {% if error_message %}<p class="error"><strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> {{ error_message }}</p>{% endif %}
    </main>
    <h1>
        <center>
        <img src="{% static 'beacon/img/biodata_elixir_logo.png' %}" alt="">
        </center>
    </h1>
    {% include "beacon/footer.html" %}

    </body>
</html>