// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

body {
    background-color: $background;
    font-family: 'Open Sans', sans-serif;
    color: $darkgrey;
    height: 100vh;
    display: flex;
    flex-direction: column;

    nav {
        width: 100%;
        min-width: 80%;
        height: 55px;
        // background-color: white;
        background-color: $background;
        position: fixed;
        top: 0;
        z-index: 1;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        justify-content: space-between;
        // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);


        transition: 0.5s;

        &.shadow {
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
        }

        div {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            justify-content: center;
    
            img {
                height: 25px;
                padding: 0 10px 0 20px;
            }
            a {
                padding: 5px;
                font-size: 14px;
                font-weight: lighter;
                text-decoration: none;
                color: $darkgrey;
                transition: ease .5s;

                &:hover {color: $blue;}

                // i {margin-right: 3px;}
                &.selected {color: $darkblue; font-weight: normal;}
            }
        }

        button {
            background-color: $darkblue;
            padding: 6px 12px;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 11px;
            border-radius: 8px;
            border: none;
            margin: 10px 30px 10px 0;
            transition: ease .5s;
            cursor: pointer;

            &:hover {
                background-color: $blue;
            }

            &.hidden {
                visibility: hidden;
            }
        }
    }
    
    main {
        width: 85%;
        margin: 55px auto 55px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        &.wide {
            width: auto;
            margin: 80px 40px 55px;
        }

        > h1 {
            color: lighten($darkgrey, 20%) ;
            font-size: 24px;
            font-weight: 300;

            display: inline-block;
            margin: 80px auto 0;
            span.strong {
                font-weight: 400;
            }

            img {
                height: 150px;
            }
        }

        form {
            margin: 40px auto 0;
	        width: 100%; height:40px;

            background-color: white;
            border-radius: 30px;
            
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            // box-shadow: 0 5px 10px rgba(0,0,0,0.05);
            border: 1px solid $grey;

            &:focus-within {
                // box-shadow: 0 0 10px $blue;
                box-shadow: 0 5px 10px rgba(0,0,0,0.05);
            }


            input {
                background-color: transparent;
                border: none;
                margin-left: 30px;
                width: 95%;

                font-size: 12px;
                font-family: 'Open Sans', sans-serif;
                color: $darkgrey;

                &:focus {
                    outline: none;
                }
            }

            select {
                background: white;
                border: none;
                border-radius: 30px;
                margin-left: 20px;
                color: $darkgrey;
                appearance: unset;
                cursor: pointer;
            }

            div {
                display: flex;
                flex-flow: row nowrap;
                width: 100%;
                align-items: center;

                i {font-size: 12px;margin-left: 5px;}

            }

            button {
                background-color: transparent;
                border: none;
                margin-right: 10px;

                font-size: 14px;
                color: $darkgrey;
                
                transition: ease .5s;
                cursor: pointer;

                &:hover {
                    color: $blue;
                }
            }

            // span#filtering-terms-wrapper {
            //     display: flex;
            //     flex-flow: row nowrap;
            //     align-items: center;
            //     border-left: 1px solid $grey;
            //     padding-left: 5px;
            //     i {
            //         font-size: 14px;
            //         transition: ease .5s;
            //     }
            //     a {
            //         margin: 0 -10px 0 7px;
            //         font-size: 12px;
            //         font-weight: lighter;
            //         text-decoration: none;
            //         color: $darkgrey;
            //         transition: ease .5s;
            //     }
            //     &:hover { i,a {color: $blue;}}
            // }
        }

        div#help-wrapper {
            padding: 1em;
            display: flex;
            flex-flow: row nowrap;
            column-gap: 10px;
            row-gap: 5px;

            a {
                font-size: 12px;
                font-weight: lighter;
                text-decoration: none;
                color: $darkgrey;
                transition: ease .5s;
                width: 100px;
                i { font-size: 10px;}
                &:hover {color: $blue;}
                &:first-of-type{width: 72px;}
            }

            span {
                position: relative;

                p {
                    font-size: 12px;
                    font-weight: lighter;
                    color: $darkgrey;
                    transition: ease .5s;
                    width: 100px;
                    cursor: pointer;
                    i { font-size: 12px;}
                    &:hover {color: $blue;}
                    padding-bottom: 25px;
                    &.results-help {padding: 0;}
                }
                div {
                    display: none;
                    background-color: white;
                    position: absolute;
                    top: 25px;
                    left: 0px;
                    padding: 5px 1em;
                    border-radius: 10px;
                    p.example {
                        font-size: 12px;
                        white-space: nowrap;
                        margin: 6px 0;
                        width: auto;
                        padding: 0;
                    }
                    &::after {
                        content: " ";
                        position: absolute;
                        top: -10px;
                        left: 45px;
                        margin-left: -5px;
                        border-width: 5px;
                        border-style: solid;
                        border-color: transparent transparent white transparent;
                      
                    }
                }
                p:hover + div, div:hover {
                    display: block;
                }

                &.results {
                    p { padding: 25px 0;}
                    div { top: 50px;}
                }
            }

            div.help-group {
                display: flex;
                flex-flow: row wrap;
                column-gap: 10px;
                row-gap: 5px;
                align-items: center;
                padding: 15px 0;
            }
        }

        span.error {
            display: block;
            color: $softred;
            padding-bottom: 1em;
            font-weight: lighter;
            strong {
                font-weight: 400;
                color: $darkred;
            }
            &.error-login {
                display: none;
                padding-left: 10px;
                &.active {
                    display: block;
                }
            }
        }

        div.results-form {
            display: flex;
            flex-flow: row nowrap;
            justify-content: left;
            align-items: center;

            img {
                height: 75px;
            }
            form {
                // margin: 0 10px 0 0;
                margin: 0;
                width: 60%;
                min-width: 400px;
            }
        }

        div.results {
            margin: 20px 0 0;
            font-weight: 300;

            p {padding-bottom: 1em;}
            h3 {
                font-size: 18px;
                padding-top: 2em;
            }

            a {
                text-decoration: none;
                color: $blue;
                transition: ease .5s;
                text-decoration: underline;

                &:hover {color: $darkblue;}
            }

            span.mono {
                font-family: monospace;
            }

            div#tabs {
                display: flex;
                flex-flow: row nowrap;
                width: 100%;
                border-bottom: 1px solid $blue;
                // margin-left: 180px;
                font-size: 14px;
                p {
                    padding: 10px;
                    cursor: pointer;
                    &.active, &:hover {
                        border-bottom: 1px solid $darkblue;
                        font-weight: normal;
                    }
                }
            }

            
            section {
                padding: 1em 0;
                display: none;

                h2 {
                    font-weight: normal;
                }
                p {
                    padding-left: 10px;
                }

                &.active {
                    display: block;
                }
            }

            // section#boolean {
            //     pass
            // }

            section#counts {
                p {
                    &.blurry {
                        -webkit-filter: blur(5px);
                        -moz-filter: blur(5px);
                        -o-filter: blur(5px);
                        -ms-filter: blur(5px);
                        filter: blur(5px);
                    }
                }
            }
            
            div.table-wrapper {
                margin: 1em 0;
                font-size: 12px;
                overflow-x: auto;
                
                &.basic {overflow-x: unset;}

                .dataTables_filter {display: none !important;}
                table {
                    font-size: 14px;
                    thead {
                        tr {
                            th {
                                &.checkbox {
                                    cursor: pointer;
                                    padding-left: 10px;
                                    &:active {
                                        position: relative;
                                        top: 1px;
                                        // right: 1px;
                                    }
                                }
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                &.raw {
                                    font-family: monospace;
                                    font-size: 12px;
                                }
                                div#long-content-wrapper {
                                    max-height: 100px;
                                    overflow-y: scroll;
                                }
                                &.checkbox { cursor: pointer;}
                            }
                        }
                    }
                }
               
            }
            section#full {
                div#table-type {
                    display: flex;
                    font-size: 13px;
                    align-items: center;
                    padding: 0.5em 0 1em;
                    // padding: 5px 10px;
                    // border: 1px solid $blue;
                    // border-radius: 5px;
                    // background-color: white;
                    // width: 165px;
                    p {
                        padding-left: 0;
                        padding-bottom: 0;
                        font-weight: 400;
                    }
                    input,label {
                        cursor: pointer;
                    }
                    div:first-child {
                        margin-right: 5px;
                    }
                    &.blurry {
                        -webkit-filter: blur(5px);
                        -moz-filter: blur(5px);
                        -o-filter: blur(5px);
                        -ms-filter: blur(5px);
                        filter: blur(5px);
                    }
                }
                div.table-wrapper {
                    &.blurry {
                        -webkit-filter: blur(5px);
                        -moz-filter: blur(5px);
                        -o-filter: blur(5px);
                        -ms-filter: blur(5px);
                        filter: blur(5px);
                    }
                    display: none;
                    &.active {
                        display: block;
                    }
                    &.tidy {
                        table {
                            td {
                                font-family: monospace;
                                font-size: 13px;
                                span {
                                    &.strong {
                                        font-family: 'Open Sans', sans-serif;
                                        font-size: 12px;
                                        color: $blue;
                                    }
                                    &.duo {
                                        background-color: $blue;
                                        border-radius: 10px;
                                        padding: 1px 4px;
                                        color: white;
                                        font-size: 90%;
                                        display: inline-block;
                                        margin: 1px 0;
                                    }

                                }
                            }
                        }
                    }
                }
            }
            p.no-results-help {
                font-style: italic;
                margin-top: 10px;
            }

            div#clipboard-terms {
                display: flex;
                flex-flow: row nowrap;
                background: white;
                width: auto;
                border-radius: 10px;
                border: 1px solid $grey;
                align-items: center;
                padding: 5px 10px;
                margin-top: 1em;

                i { 
                    cursor: pointer;
                    &:active {
                        position: relative;
                        top: 1px;
                        // right: 1px;
                    }
                }
                input {
                    font-size: 13px;
                    margin: 0 0 0 8px; padding: 0;
                    width: 100%;
                    border: none;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        p.main-error {
            margin: auto;
            padding: 1em;
            font-size: 20px;
        }
        pre {
            margin: auto;
            padding: 1em;
            font-family: monospace;
        }

        div.cohort-card {
            width: 100%;
            min-width: 650px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(0,0,0,0.05);

            box-sizing: border-box;
            margin: 2em auto 1em;

            padding: 2em;
            h1 {
                font-size: 110%;
                font-weight: bold;
                font-family: 'Roboto', sans-serif;
                span.light { font-weight: 300;}
                margin-bottom: 2em;
                &.cohort-name {
                    color: white;
                    margin-bottom: 0;
                    background-color:$blue;
                    padding: 4px 8px;
                    border-radius: 30px;
                    font-weight: 400;
                    display:inline-block; 
                }
                &.error {
                    color: white;
                    margin-bottom: 0;
                    background-color:$softred;
                    padding: 4px 8px;
                    border-radius: 30px;
                    font-weight: 400;
                    display:inline-block; 
                }
            }
            h2 {
                font-size: 90%;
                font-weight: 300;
                margin: 1em 0 8px;
            }
            h2.error {
                color: white;
                margin-bottom: 0;
                background-color:$softred;
                padding: 4px 8px;
                border-radius: 30px;
                font-weight: 400;
                display: inline-block; 
                margin-top: 0;
            }
            ul {
                margin: 0 1em;
                li {
                    margin: 6px;
                    font-size: 90%;
                    span.strong { font-weight: bold;}
                    span.strong2 { font-weight: 600;}
                    span.content { color: $darkgrey;}
                    span.duo {
                        font-weight: 600;
                        background-color: $duo;
                        border-radius: 10px;
                        padding: 0 4px;
                        color: white;
                        font-size: 90%;
                    }
                }
            }
            hr {
                margin: 2em auto;
            border: none;
            border-top: 1px solid $darkgrey;
            width: 60%;
            }
            form {
                margin: 0;
                width: auto;
                height: auto;
                background-color: none;
                border-radius: 0;
                display: inline;
                box-shadow: none;
                button {
                    cursor: pointer;
                    color: $blue;
                    &:hover {color: $darkblue;}
                }
            }
            svg.bar-plot {
                padding-left: 1.5em;
                .bar {
                    fill: $grey;
                    height: 21px;
                    transition: fill .3s ease;
                    
                    text {
                      fill: $darkgrey;
                      font-size: 11px;
                    }
                  }
                  
                  .chart:hover,
                  .chart:focus {
                    .bar {
                      fill: $grey;
                    }
                  }
                  
                  .bar:hover,
                  .bar:focus {
                    fill: $blue !important;
                    
                    text {
                      fill: $darkblue;
                      font-size: 11px;
                    }
                  }
            }

        }
    }

    footer {
        width: 100%;
        min-height: 55px;
        margin-top: auto;

        color: $darkgrey;
        font-family: 'Open Sans', sans-serif;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        p {
            margin-right: 10px;
            line-height: 15px;
            font-weight: 300;
            font-size: 11px;

            transition: ease all 0.5s;

            @media screen and (max-width:580px){
                font-size: 9px;
                line-height: 10px;
            }
        }

        section#EGA {
            margin-left: 30px;
            font-size: 12px;
            a {
                color: $blue;
                &:hover {color: $darkblue;}
            }
        }
        section#EU {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: right;
            

            p {
                max-width: 400px;
                text-align: right;
                margin-right: 30px;
            }
    
            img {
                height: 30px;
                margin-right: 30px;
            }
        }
    }
}
