
// colors
$grey: #D9D9D9;
$darkgrey: #717578;
$verydarkblue: #275F90;
$darkblue: #1070B7;
$blue: #74C5EB;
$mediumblue: #BAE4F6;
$lightblue: #DAF0F9;
$darkred: #BE1522;
$softred: #DC4F5F;
$background: #F5F9FA;
$duo: #EB9661;
